@keyframes shake {
  from { transform: rotate(0);}
  33% { transform: rotate(5deg);}
  66% { transform: rotate(-3deg);}
  to { transform: rotate(0);}
}

.App {
  text-align: center;
}

.root {
  margin: 0 auto;
  max-width: 1400px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.options {
  margin: 0;
  padding: 30px 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.options__choice {
  list-style-type: none;
}

.game__container {
  background-image: linear-gradient(to bottom right, #08C4B2, #9D74C6);
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5%;
  box-shadow: 5px 5px 3px 3px #B2B7BB;
}

.game__card {
  position: relative;
  margin: 4% 0 0 4%;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 5%;
  box-shadow: 1px 1px 2px;
  background-color: #293540;
}

.game__card:hover {
  animation: shake .7s; 
}

.game__card_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 42px;
}



@media only screen and (max-width: 768px) {

  .game {
    justify-content: flex-start;
  }

  .game__title {
    margin-bottom: 10px;
  }

  .options {
    padding: 0 0 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .options__choice {
    padding: 4px;
  }

  .game__container {
    background-image: linear-gradient(to bottom right, #08C4B2, #9D74C6);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}